.contentPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  height: max-content;
  min-height: 80%;
  width: 90%;
  justify-content: space-between;
}

.cardList {
  flex-direction: column;

  width: 100%;
  /* border: red solid 1px; */
  margin: 0.3rem;
}

.sideBar {
  border: solid 0.5px red;

  flex-direction: column;

  min-width: 40vh;
}
