.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #eee8ec;

  margin-bottom: 0.5em;
  padding: 0.8rem;
  width: 100%;

  border-radius: 8px;
}

.rows {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

.cols {
  display: flex;
  flex-direction: column;
}

.typeId {
  background-color: blueviolet;

  width: 5vh;
  height: 5vh;
  border-radius: 50%;

  margin: 0.5rem;
}
