.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: min-content;

  margin: 0 auto;

  justify-content: space-between;

  flex-wrap: wrap;
}

.min-height {
  min-height: 75%;
}

.position {
  position: relative;
  margin-top: 1rem;
}
