footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0 0.7em;
  background-color: #c6b9cd;

  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.item {
  margin-inline: 1em;
}

.iconFooter {
  font-size: 1.5rem;
  color: white;
}

.iconFooter:hover {
  filter: none;
  color: #f7d1cd;
}

.currentDate {
  font-size: 0.5em;
  color: white;

  /*padding-bottom: 0.6rem;*/
  margin-inline: 1rem;
}
