.content {
	background-color: #ebf4f9;
	overflow: hidden;
	color: #6c4f03;
}

.section__first {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: flex-end;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../../img/bg_section_home1.svg");
}

.section__second {
	display: flex;
	align-items: center;
	max-width: 100vw;
	min-height: 1012px;
	justify-content: flex-end;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../../img/bg_section_home2.svg");
}

.main_text {
	display: flex;
	flex-direction: column;
	align-items: end;
	width: min-content;
	height: min-content;
}

.get_start {
	display: flex;
	width: 25%;
	height: 10%;
	margin: 5rem;
	justify-content: center;
	justify-self: right;
	text-align: center;
	align-items: center;
	border-radius: 2px;
	background: #e1b953;
	color: white;
	font-family: "Noticia  Text";
	font-size: 26px;
}

.space {
	display: relative;
	height: 90vh;
}
