.content {
	background-color: #ebf4f9;
	overflow: hidden;
	width: 100%;
	color: #6c4f03;
}

.section__first {
	display: flex;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../img/bg-home.svg");
}

.content_svg {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.lunar_title {
	display: flex;
	flex-direction: column;
	margin: 4rem 0 0 -6rem;
	max-height: 60vh;
	font-size: 26px;
}
.lunar_title > p {
	color: #6c4f03;
	text-shadow: 0px 3px 2px rgba(255, 255, 255, 0.25);
	font-size: 32px;
}

.main_text {
	display: flex;
	flex-direction: column;
	align-items: end;
	width: min-content;
	height: min-content;
}

.get_start {
	display: flex;
	width: 320px;
	height: 82px;
	margin: 5rem;
	justify-content: center;
	justify-self: right;
	text-align: center;
	align-items: center;
	border-radius: 2px;
	background: #e1b953;
	color: white;
	font-family: "Noticia  Text";
	font-size: 26px;
}

.space {
	display: relative;
	height: 90vh;
}
